// Variables
$primary-blue: #5368DF;
$primary-red: #FA5757;
$primary-purple: #733FC8;
$secondray-darkBlue: #252b46;
$neutral-grey: #9194A1;
$neutral-greyWhite: #f7f7f7; //#f7f4ff #eeeeee
$neutral-whiteGrey: #e5e5e5;
$neutral-blackGrey: #222222;
$white: #FFFFFF;

// Resets
body {
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: 0px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  color: $secondray-darkBlue;
  text-align: center;
}

h1 {
  font-size: 3rem !important;
  font-weight: 700 !important;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  padding: 0.5rem 0rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: $neutral-grey;
  padding: 0.5rem 0rem;
}

a {
  font-size: 1rem;
  font-weight: 600;
}

li {
  list-style: none;
}

// Preloader
.loader-wrapper {
  overflow: hidden;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.loader {
  display: inline-block;
  width: 6vh;
  height: 6vh;
  position: relative;
  border: 0.75vh solid $white;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: $white;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

// Quote Component
.quote {
  z-index: 5;
  position: relative;
  padding: 1rem;
  background-color: $primary-purple;
  background-image: url("/app/img/quote.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 15% 50%;
}

.quote h3 {
  color: $white;
  font-family: 'Vogue', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.quote-person {
  padding: 0;
  text-align: center;
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  padding: 0px;
  opacity: 85%;
}

#quote-person {
  padding: 0;
  text-align: center;
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  padding: 0px;
  opacity: 85%;
}

// Watermark
.watermark {
  opacity: 100%;
  font-weight: 400;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $neutral-blackGrey;
  color: #f6f6fe;
  border-top: 1px solid rgba(240, 75%, 98%, 0.1);
}

.watermark p {
  opacity: 90%;
  padding: 0px;
}

.watermark a {
  font-size: 1.1rem !important;
  padding: 0px;
  text-decoration: underline;
  font-weight: 600;
  color: #ffffff;
}

// BG Elements 
#bg-one {
  position: absolute;
  z-index: 1;
  top: -2rem;
  left: -2rem;
  opacity: 40%;
  padding: 1rem;
}

#bg-two {
  position: absolute;
  z-index: 1;
  top: 15%;
  right: -40%;
  transform: rotate(90deg);
  opacity: 40%;
  padding: 1rem;
}

#bg-three {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: -20%;
  transform: rotate(180deg);
  opacity: 20%;
  padding: 1rem;
}

// Desktop Layout 
@media screen and (min-width: 550px) {
  .quote {
    background-size: 4% 80%;
  }

  // Classes
  .title-h1 {
    font-weight: 700;
    text-transform: lowercase;
  }

  .title-p {
    text-transform: lowercase;
    line-height: 0.7;
    color: $primary-blue;
    padding: 0;
    font-weight: 700;
  }

  .component {
    padding: 3rem 10vw 3rem 10vw;
  }

  .hero {
    padding: 0rem 10vw 3rem 10vw;
    background-color: $neutral-greyWhite;
  }

  .desktop-hero {
    display: flex;
  }

  .hero-img {
    padding: 4rem 4rem 4rem 0rem;
    float: left;
    z-index: 5;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .hero-img img {
    overflow: hidden;
    border-radius: 50%;
    width: 50%;
    margin-left: auto;
    height: fit-content;
    box-shadow: 0 0.6px 2.7px rgba(0, 0, 0, 0.022),
      0 1.5px 6.9px rgba(0, 0, 0, 0.031), 0 3px 14.2px rgba(0, 0, 0, 0.039),
      0 6.2px 29.2px rgba(0, 0, 0, 0.048), 0 17px 80px rgba(0, 0, 0, 0.07);
    transition: all 400ms ease-in-out;
  }

  .hero-img img:hover {
    transform: scale(1.025);
  }

  .desktop-hero-right {
    padding-right: 1rem;
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .hero-heading {
    margin: auto 0px 0px 0px;
    width: 50%;
    float: right;
    z-index: 5;
    padding-bottom: 1rem;
  }

  .wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;

    &:hover .highlight {
      transform: scaleY(3);
    }
  }

  .wrapper h4 {
    font-weight: 500;
    opacity: 90%;
    display: flex;
    margin-right: -1rem;
    color: $primary-blue;
    text-transform: lowercase;
    margin-bottom: -0.25rem;
    justify-content: center;
  }

  .inner-wrapper {
    width: fit-content;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .highlight {
    line-height: 1;
    position: relative;
    margin-top: -0.45rem;
    margin-left: -0.5rem;
    z-index: 1;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 6px;
    background: $primary-red;
    transform-origin: 0% 100%;
    transition: transform 0.25s;
  }

  .link {
    position: relative;
    width: fit-content;
    z-index: 2;
    font-size: 3rem;
    font-weight: 700;
    color: $secondray-darkBlue;
  }

  .hero-content {
    padding: 0px;
    padding-bottom: 1rem;
    margin-bottom: auto;
  }

  .hero-content p {
    margin-bottom: auto;
    width: 70%;
    font-size: 1.1rem;
    text-align: left;
    color: $secondray-darkBlue;
    opacity: 90%;
    font-weight: 500;
    transition: all 200ms ease-in-out;
  }

  .hero-content p:hover {
    transform: scale(1.01);
  }

  .btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 5;
    padding: 0vw 10vw;
  }

  .btn {
    flex: 1;
    height: fit-content;
    width: auto;
    z-index: 5;
    background-color: $white;
    border: 2px solid $neutral-whiteGrey;
    color: $secondray-darkBlue;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    line-height: 1;
    flex: 1;
  }

  .location {
    grid-column: 1 / 2;
    margin: 0rem 0.5rem;
  }

  .designation {
    grid-column: 2 / 3;
    background-color: #222222;
    margin: 0rem 0.5rem;
  }

  .occupation {
    grid-column: 3 / 4;
    background-color: $neutral-greyWhite;
    color: $secondray-darkBlue;
    border: 2px solid $white;
    margin: 0rem 0.5rem;
  }

  .btn img {
    margin: 0rem 0.1rem 0rem 0.25rem;
    height: 1.5rem;
    width: 1.5rem;
    padding-right: 0.25rem;
  }

  .btn label {
    color: $secondray-darkBlue;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .designation label {
    color: #ffffff;
  }

  .btn:focus {
    outline: dotted $secondray-darkBlue;
  }

  .portfolio {
    background-color: $white;
    color: $secondray-darkBlue;
  }

  .works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .work {
    margin: auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
  }

  .work-img {
    width: 75%;
    z-index: 5;
    width: 50%;
    float: left;
    padding: 10vh 2vw 10vh 8vw;
  }

  .work-img img {
    width: 100%;
    border-radius: 1rem;
    box-shadow:
      0 0.3px 2.2px rgba(0, 0, 0, 0.014),
      0 0.7px 5.3px rgba(0, 0, 0, 0.02),
      0 1.3px 10px rgba(0, 0, 0, 0.025),
      0 2.2px 17.9px rgba(0, 0, 0, 0.03),
      0 4.2px 33.4px rgba(0, 0, 0, 0.036),
      0 10px 80px rgba(0, 0, 0, 0.05);
  }

  .work-content {
    width: 50%;
    height: auto;
    float: right;
    padding-right: 8vw;
    display: flex;
    flex-direction: column;
    padding: 0vw 8vw 0vw 2vw;
  }

  .work-content h4 {
    padding: 1.25rem 0rem 0.75rem 0rem;
    margin-top: auto;
  }

  .work-content p {
    padding: 0px;
  }

  .work-content a {
    text-decoration: underline;
    color: $neutral-grey;
    font-weight: 700;
  }

  .work-btn {
    text-decoration: none !important;
  }

  .live-btn {
    background-color: $neutral-greyWhite;
    margin-right: 0.25rem;
  }

  .live-btn img {
    transform: scale(1.2);
  }

  .github-btn {
    background-color: $neutral-blackGrey;
    border: 0px;
    margin-left: 0.25rem;
  }

  .github-btn label {
    color: $white;
  }


  .work-content span,
  .disclaimer span {
    color: $primary-red;
    font-weight: 700;
  }

  .work-actions {
    z-index: 5;
    display: flex;
    padding: 1rem 0rem;
    margin-bottom: auto;
  }

  .disclaimer {
    text-align: center;
    margin-top: 3rem;
    border-top: 2px dotted $neutral-whiteGrey;
    border-bottom: 2px dotted $neutral-whiteGrey;
  }

  .disclaimer p {
    color: $neutral-blackGrey;
  }

  .technology {
    background-color: $white;
  }

  .icons-conatiner {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3.5rem 28vw;
  }

  .tech-icon {
    margin: auto;
    height: 4.5rem;
    width: 4.5rem;
  }

  .icon-sm {
    height: 4.5rem;
    width: 4.5rem;
  }

  .icon-lg {
    padding: 0rem 0.5rem;
    margin-top: 2vw;
  }

  .icons-column-one {
    display: flex;
    justify-content: space-evenly;
  }

  .icons-column-two {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.75rem;
  }


  .email-list {
    padding: 3rem 2rem;
    background-color: $primary-blue;
    display: flex;
    flex-direction: column;
  }

  .email-list p {
    color: #ffffff;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    opacity: 90%;
  }

  .email-list h2 {
    color: #ffffff;
    font-weight: 500;
    padding: 0rem 0rem 0.5rem 0rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  #email-list-form {
    width: 100%;
    border-radius: 0.35rem;
    border: 0px;
    padding: 0.75rem;
    margin: 1rem 0rem 0.5rem 0rem;
  }

  .email-submit-btn {
    width: 100%;
    border-radius: 0.35rem;
    border: 0px;
    padding: 0.75rem;
    color: #ffffff;
    background-color: $primary-red;
  }

  .connect {
    background-color: $primary-blue
  }

  .connect-email {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .email-icon {
    height: 2rem;
  }

  .connect h2 {
    color: $white;
    padding: 0px;
  }

  .connect p {
    color: $neutral-greyWhite;
    padding-top: 2rem;
  }

  .email-contact {
    text-decoration: underline $primary-red;
    color: $white;
    font-weight: 700;
    margin: auto 0px;
    padding-left: 0.75rem;
  }

  .social-icons {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    margin: 0.75rem 30vw;
    justify-content: space-around;
  }

  .social-icon img {
    height: 2.5rem;
  }

  .footer {
    padding: 1.5rem 10vw;
    background-color: #222222;
    color: #ffffff;
    display: flex;
    flex-direction: row;
  }

  .footer-logo {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer-link {
    color: $white;
  }

  .footer-logo img {
    height: 3rem;
  }

  .footer-logo h3 {
    color: $white;
    display: flex;
    margin: auto 0px;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
  }

  .footer-items {
    margin-left: auto;
    flex: 5;
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
  }

  .footer-item {
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    display: flex;
    margin: auto 0rem;
    opacity: 80%;
    padding: 0px;
    padding: 0.5rem 0px;
  }

  .footer-home {
    margin-left: auto;
  }

  .footer-contact a {
    padding-right: 0px !important;
  }

  .footer-item a {
    padding-right: 4rem;
    color: $white;
    opacity: 100%;
    text-decoration: none;
  }

  .social-icon-footer img {
    margin: 0rem;
    padding: 0rem 0.5rem;
  }
}

// Mobile Layout
@media screen and (max-width: 550px) {

  // Classes
  .title-h1 {
    font-weight: 700;
    text-transform: lowercase;
  }

  .title-p {
    text-transform: lowercase;
    line-height: 0.7;
    color: $primary-blue;
    padding: 0;
    font-weight: 700;
  }

  .component {
    padding: 3rem 10vw 3rem 10vw;
  }

  .hero {
    padding: 0rem 10vw 3rem 10vw;
    background-color: $neutral-greyWhite;
  }

  .hero-img {
    z-index: 5;
    width: 100%;
    padding: 3rem 10vw 1rem 10vw;
    display: flex;
    justify-content: center;
  }

  .hero-img img {
    overflow: hidden;
    border-radius: 50%;
    width: 70%;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.014),
      0 6.7px 5.3px rgba(0, 0, 0, 0.02),
      0 12.5px 10px rgba(0, 0, 0, 0.025);
  }

  .hero-heading {
    z-index: 5;
    padding-bottom: 2rem;
  }

  .wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover .highlight {
      transform: scaleY(3);
    }
  }

  .wrapper h4 {
    font-weight: 500;
    opacity: 90%;
    display: flex;
    margin-right: -0.5rem;
    color: $primary-blue;
    text-transform: lowercase;
    margin-bottom: -0.25rem;
  }

  .inner-wrapper {
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .highlight {
    line-height: 1;
    position: relative;
    margin-top: -0.45rem;
    z-index: 1;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 6px;
    background: $primary-red;
    transform-origin: 0% 100%;
    transition: transform 0.25s;
  }

  .link {
    position: relative;
    z-index: 2;
    font-size: 3rem;
    font-weight: 700;
    color: $secondray-darkBlue;
  }

  .hero-content {
    padding: 0px;
    padding-bottom: 1rem;
  }

  .hero-content p {
    font-size: 1.1rem;
    color: $secondray-darkBlue;
    font-weight: 500;
    transition: all 200ms ease-in-out;
  }

  .hero-content p:hover {
    transform: scale(1.01);
  }

  .btn-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    z-index: 5;
  }

  .btn {
    z-index: 5;
    height: fit-content;
    width: auto;
    background-color: $white;
    border: 2px solid $neutral-whiteGrey;
    color: $secondray-darkBlue;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    line-height: 1;
    flex: 1;
  }

  .location {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
  }

  .designation {
    margin-right: 0.25rem;
    margin-top: 0.25rem;
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    background-color: #222222;
  }

  .occupation {
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    background-color: $neutral-greyWhite;
    color: $secondray-darkBlue;
    border: 2px solid $white;
  }

  .btn img {
    margin: 0rem 0.1rem 0rem 0.25rem;
    height: 1.5rem;
    width: 1.5rem;
    padding-right: 0.25rem;
  }

  .btn label {
    color: $secondray-darkBlue;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .designation label {
    color: #ffffff;
  }

  .btn:focus {
    outline: dotted $secondray-darkBlue;
  }

  .portfolio {
    background-color: $white;
    color: $secondray-darkBlue;
  }

  .works {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .work {
    margin: auto;
    padding-top: 2rem;
  }

  .work-img {
    width: 75%;
    z-index: 5;
  }

  .work-img img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0.6px 2.7px rgba(0, 0, 0, 0.022),
      0 1.5px 6.9px rgba(0, 0, 0, 0.031), 0 3px 14.2px rgba(0, 0, 0, 0.039),
      0 6.2px 29.2px #0000000c;
  }

  .work-content h4 {
    padding: 1.25rem 0rem 0.75rem 0rem;
  }

  .work-content p {
    padding: 0px;
  }

  .work-content a {
    text-decoration: underline;
    color: $neutral-grey;
    font-weight: 700;
  }

  .work-btn {
    text-decoration: none !important;
  }

  .live-btn {
    background-color: $neutral-greyWhite;
    margin-right: 0.25rem;
  }

  .live-btn img {
    transform: scale(1.2);
  }

  .github-btn {
    background-color: $neutral-blackGrey;
    border: 0px;
    margin-left: 0.25rem;
  }

  .github-btn label {
    color: $white;
  }


  .work-content span,
  .disclaimer span {
    color: $primary-red;
    font-weight: 700;
  }

  .work-actions {
    z-index: 5;
    display: flex;
    padding: 1rem 0rem;
  }

  .disclaimer {
    text-align: center;
    margin-top: 3rem;
    border-top: 2px dotted $neutral-whiteGrey;
    border-bottom: 2px dotted $neutral-whiteGrey;
  }

  .disclaimer p {
    color: $neutral-blackGrey;
  }

  .technology {
    background-color: $white;
  }

  .icons-conatiner {
    padding: 3.5rem 5vh;
  }

  .tech-icon {
    height: 4rem;
    width: 4rem;
  }

  .icon-sm {
    height: 4rem;
    width: 4rem;
  }

  .icon-lg {
    padding: 0rem 0.5rem;
  }

  .icons-column-one {
    display: flex;
    justify-content: space-evenly;
  }

  .icons-column-two {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.75rem;
  }


  .email-list {
    padding: 3rem 2rem;
    background-color: $primary-blue;
    display: flex;
    flex-direction: column;
  }

  .email-list p {
    color: #ffffff;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    opacity: 90%;
  }

  .email-list h2 {
    color: #ffffff;
    font-weight: 500;
    padding: 0rem 0rem 0.5rem 0rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  #email-list-form {
    width: 100%;
    border-radius: 0.35rem;
    border: 0px;
    padding: 0.75rem;
    margin: 1rem 0rem 0.5rem 0rem;
  }

  .email-submit-btn {
    width: 100%;
    border-radius: 0.35rem;
    border: 0px;
    padding: 0.75rem;
    color: #ffffff;
    background-color: $primary-red;
  }

  .connect {
    background-color: $primary-blue
  }

  .connect-email {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .email-icon {
    height: 2rem;
  }

  .connect h2 {
    color: $white;
    padding: 0px;
  }

  .connect p {
    color: $neutral-greyWhite;
    padding-top: 2rem;
  }

  .email-contact {
    text-decoration: underline $primary-red;
    color: $white;
    font-weight: 700;
    margin: auto 0px;
    padding-left: 0.75rem;
  }

  .social-icons {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    margin: 0rem 3rem;
    justify-content: space-around;
  }

  .social-icon img {
    height: 2.5rem;
  }


  .footer {
    background-color: #222222;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .footer-logo {
    display: flex;
    padding: 2rem 0rem 1rem 0rem;
    flex-direction: row;
    justify-content: center;
  }

  .footer-link {
    color: $white;
  }

  .footer-logo img {
    height: 3rem;
  }

  .footer-logo h3 {
    color: $white;
    display: flex;
    margin: auto 0px;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
  }

  .footer-items {
    display: flex;
    flex-direction: column;
  }

  .footer-item {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    opacity: 80%;
    padding: 0px;
    padding: 0.5rem 0px;
  }

  .footer-item a {
    color: $white;
    opacity: 100%;
    text-decoration: none;
  }

  .footer-item a:focus {
    padding: 0.25rem;
    outline: dotted $neutral-grey;
  }

  .social-icon-footer img {
    margin: 0rem;
    padding: 0rem 0.5rem;
  }
}